:root {
  --background: #ffffff;
  --foreground: #171717;
  --white-rgb: rgba(250, 250, 250);

  --black-rgba-90: rgba(0, 0, 0, 0.9);

  --tearsgreen-rgba-25: rgba(9, 244, 142, 0.25);
  --tearsgreen-rgba-65: rgba(9, 244, 142, 0.65);
  --tearsgreen-rgb: rgb(9, 244, 142);
  --chatGreen-rgb: rgb(112, 255, 193);

  --greenGlass-l1: rgba(9, 244, 142, 0.2);
  --greenGlass-l2: rgba(9, 220, 130, 0.3);
  --greenGlass-l3: rgba(9, 200, 120, 0.35);
  --greenGlass-l4: rgba(9, 244, 142, 0.15);

  --pinkGlass-l1: rgba(230, 30, 120, 0.25);
  --pinkGlass-l2: rgba(140, 10, 60, 0.35);
  --pinkGlass-l3: rgba(200, 20, 90, 0.2);
  --pinkGlass-l4: rgba(230, 30, 120, 0.1);

  --orangeGlass-l1: rgba(255, 110, 10, 0.25);
  --orangeGlass-l2: rgba(180, 60, 0, 0.35);
  --orangeGlass-l3: rgba(220, 90, 20, 0.2);
  --orangeGlass-l4: rgba(255, 110, 10, 0.1);

  --yellowGlass-l1: rgba(255, 200, 0, 0.25);
  --yellowGlass-l2: rgba(180, 140, 0, 0.35);
  --yellowGlass-l3: rgba(230, 170, 20, 0.2);
  --yellowGlass-l4: rgba(255, 200, 0, 0.1);

  --blueGlass-l1: rgba(0, 116, 210, 0.25);
  --blueGlass-l2: rgba(0, 80, 180, 0.35);
  --blueGlass-l3: rgba(0, 100, 195, 0.2);
  --blueGlass-l4: rgba(0, 116, 210, 0.1);

  --glass-blur: blur(12px);
  --glass-border: 1px solid rgb(60, 78, 70);
  --glass-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*::-webkit-scrollbar-track {
  border: 1px solid var(--white-rgba-20);
  background-color: var(--black-rgba-90);
  opacity: 0.1;
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--tearsgreen-rgba-65);
}

input,
textarea,
button {
  font-family: inherit;
}

.neon-ef {
  animation: pulse-off 5s infinite ease-in-out;
}

@keyframes pulse-off {
  0%,
  100% {
    filter: brightness(1.45);
  }
  50% {
    filter: brightness(0.85);
  }
}

@font-face {
  font-family: "aztek";
  src: url("/aztek.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
