.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.principal * {
  animation: typing 1s steps(30, end) var(--delay) forwards,
    blink-caret 0.75s step-end var(--delay) infinite;
}

.principal p::before {
  content: "> ";
}

.name {
  font-weight: bold;
  margin: 0;
}

.role {
  margin: 0;
}

.role ul {
  margin: 0.5em 0;
}

.meta {
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
  font-family: inherit;
}

.separator {
  border: none;
  border-top: var(--dashed-separator);
  margin: 0.5rem 0;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.icon {
  transition: all 0.3s ease;
}

.icon:hover {
  filter: var(--tears-glow);
}

.copyText {
  transition: color 0.2s ease;
}

.copyText:hover {
  filter: var(--tears-glow);
}

.copied {
  color: var(--tearsglow-rgb);
}

.copied:hover {
  filter: none;
}

.social {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
}

.socialLink {
  transition: transform 0.2s ease;
}

.social a {
  transition: transform 0.2s ease;
}

.social a:hover {
  transform: var(--social-icon-scale);
}

.social a svg {
  width: 2rem;
  height: 2rem;
}
